extends layout

block layout-content
  div.View.HomeView
    h1.Banner DECSAI
    div.Menu
      a(href="/departamento")
          div.MenuButton Informes departamento
    div.Submenu
      a(href="/nuevo_informe")
          div.MenuButton Añadir informe
    div.Body
      h2= "INFORMES DE DEPARTAMENTO"
      h2= "FILTROS"
      if informes.length
        form(action="/filtrar" method="GET")
          select(name="selectpick")
            each variable in datalist
              option(value=variable) #{variable}
          input(type="submit" value="Filtrar")
        table
          tr 
            th Fecha 
            th Tipo
            th Nombre
            th DNI
            th Enlace
            th 
          each informe in informes
            tr
              td= informe.fecha
              td= informe.tipo
              td= informe.nombre
              td= informe.dni_admin
              td
                if informe.URL 
                  a(href=informe.URL target='_blank') Ver
                  p #{informe.URL}
                else 
                  form(method='post' action=`/subir_archivo/`+informe.fecha enctype='multipart/form-data')
                    input(type='file', name='imageupload')
                    input(type='submit', name='uploadimage', value='Upload')
              td 
                form(method="post" action=`/departamento/`+informe.fecha)
                  button(type='submit' value=informe.fecha) Eliminar
      else
        p No hay informes disponibles
                
